site_name: UBELIX User Guide
repo_name: 'hpc-unibe-ch/hpc-unibe-ch.github.io'
repo_url: 'https://github.com/hpc-unibe-ch/hpc-unibe-ch.github.io'
edit_uri: 'edit/main/docs'
site_description: >-
  Instructions, user guides and tutorials for the use of UBELIX, the HPC cluster of the University of Bern.
copyright: The "UBELIX User Guide" is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> by University of Bern, IT Service Office.<br> It is adapted from the <a href="https://github.com/Lumi-supercomputer/lumi-userguide">LUMI Documentation</a>, used under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
nav:
  - First steps:
      - Get Started: firststeps/index.md
      - Access to UBELIX: firststeps/accessUBELIX.md
      - Logging in (with SSH client): firststeps/loggingin.md
      - Logging in (with web interface): firststeps/loggingin-webui.md
      - Setting up SSH key pair: firststeps/SSH-keys.md
      - Moving data to/from UBELIX: firststeps/movingdata.md
      - Next steps: firststeps/nextsteps.md
  - Hardware:
      - Overview: hardware/index.md
      - CPU nodes: hardware/cpu.md
      - GPU nodes: hardware/gpu.md
      - Network and interconnect: hardware/network.md
  - Running jobs:
      - Overview: runjobs/index.md
      - Partitions / QoS: runjobs/partitions.md
      - Web interface:
          - Introduction: runjobs/ondemand/index.md
          - Interactive applications:
              - Jupyter: runjobs/ondemand/jupyter.md
              - RStudio: runjobs/ondemand/rstudio.md
              - Visual Studio Code: runjobs/ondemand/code-server.md
          - Troubleshooting: runjobs/ondemand/troubleshooting.md
      - Basic batch jobs:
          - Slurm quickstart: runjobs/scheduled-jobs/slurm-quickstart.md
          - Submitting Jobs: runjobs/scheduled-jobs/submission.md
          - Monitoring Jobs: runjobs/scheduled-jobs/monitoring-jobs.md
          - Deleting Jobs: runjobs/scheduled-jobs/deleting-jobs.md
          - GPU Jobs: runjobs/scheduled-jobs/gpus.md
          - Interactive jobs: runjobs/scheduled-jobs/interactive.md
          - Container jobs: runjobs/scheduled-jobs/container-jobs.md
      - Advanced topics:
          - Job array: runjobs/scheduled-jobs/throughput.md
          - Job dependencies: runjobs/scheduled-jobs/dependencies.md
          - Investigating a Job Failure: runjobs/scheduled-jobs/investigating-job-failure.md
          - Checkpointing: runjobs/scheduled-jobs/checkpointing.md
          - Fair Share: runjobs/scheduled-jobs/fair-share.md
          - Preemption: runjobs/scheduled-jobs/preemption.md
  - Software:
      - Overview: software/index.md
      - Software environment: software/Lmod_modules.md
      - Compiling:
          - GNU compilers: software/compiling/gnu.md
          - Intel compilers: software/compiling/intel.md
      - Installing software:
          - Python packages: software/installing/python.md
          - R packages: software/installing/r.md
          - EasyBuild: software/installing/easybuild.md
          - Containers: software/containers/apptainer.md
      - Software guides:
          - Alphafold3: software/packages/alphafold3.md
          - JupyterLab: software/packages/JupyterLab.md
          - MATLAB: software/packages/matlab.md
          - Parallel BZIP2: software/packages/bzip2.md
          - ParaView: software/packages/ParaView.md
          - PyTorch: software/packages/pytorch.md
          - R: software/packages/r.md
          - TensorFlow: software/packages/tensorflow.md
          - Visual Studio Code: software/packages/VisualStudioCode.md
  - Storage:
      - Overview: storage/index.md
      - Quota: storage/quota.md
      - Scratch: storage/scratch.md
  - Costs and Billing:
      - Overview: costs/overview.md
      - Investments: costs/investments.md
      - Pay-as-you-go: costs/payg.md
      - Free tiers: costs/freetier.md
      - FAQ: costs/faq.md
      - Storage costs: costs/storage.md
  - Teaching with UBELIX: teaching.md
  - Support:
      - Support: support/index.md
      - Data Science Lab: support/dsl.md
      - Known issues: support/issues.md
      - FAQ: support/faq.md
      - UBELIX service status: https://ubelix.hpc.unibe.ch
  - Code of Conduct: code-of-conduct.md


theme:
  name: material

extra_css:
  - 'stylesheets/unibe.css'

plugins:
  - git-revision-date
  - search

# See https://python-markdown.github.io/extensions/ and
# See https://github.com/Python-Markdown/markdown/wiki/Third-Party-Extensions#Bundles
#     https://facelessuser.github.io/pymdown-extensions/
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - codehilite:
      guess_lang: false
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - sane_lists
  - smarty
  - tables
  - toc

# Social links bottom right
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/hpc-unibe-ch
