.md-header {
    background-color: #d6002b;
}

/* .md-sidebar {
    width: 320px;
} */

.md-typeset img {
    padding: 8px;
    margin: 0;
    display: inline-block;
    height: auto;
/*  #width: 100%;
    #max-width: 100%;
*/
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.md-typeset mark {
    margin: 0 .25em;
    padding: .0625em 0;
    color: #0074C4;
    font-weight: 700;
    border-radius: .1rem;
    background-color: transparent;
    box-shadow: none;
    word-break: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/*
article > ol li {
    min-height: 4em;
    counter-increment: li;
    position: relative;
    margin: 0 0 1.4em 2em;
    padding: 4px 8px;
    list-style: none;
    border-top: 1px solid rgba(0,0,0,.14);
}

article > ol li::before {
    content: counter(li);
    position: absolute;
    top: -1px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    color: #fff;
    background: #707070;
    font-weight: 700;
    text-align: center;
}
*/
/* body { counter-reset : h2; }
h2 { counter-reset : h3; }
h3 { counter-reset : h4; }
h4 { counter-reset : h5; }
h5 { counter-reset : h6; }

article h2:before {
    content : counter(h2,decimal) ". ";
    counter-increment : h2;
}

article h3:before {
    content : counter(h2,decimal) "." counter(h3,decimal) ". ";
    counter-increment : h3;
}

article h4:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
    counter-increment : h4;
}

article h5:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
    counter-increment : h5;
}

article h6:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
    counter-increment : h6;
}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
    content : "";
    counter-increment : none;
} */


.md-typeset dl {
    padding: 0;
    margin-bottom: 16px;
}

.md-typeset dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.md-typeset dl dd {
    padding: 0 16px;
    margin: 0px;
    margin-bottom: 16px;
}
